page-propeller {
  .egg {
    width: 100%;
    height: auto;
    border: 0;
    content: url(../assets/img/Egg.png);
}

.birdDiv {
    width: 40%;
    height: auto;
    border: 0;
    margin: 0 auto;
}

.bird {
    width: 100%;
    height: auto;
    border: 0;
    content: url(../assets/img/bird.png);
}

}
