page-multi-view {
    img{
        border-radius: 3px;
        border: 1px solid;
        max-width: 100%;
        margin:0 auto;
    }

    

    // .multiViewItem{
    //      background-color: #eee;
    // }

//   .col {
//         -webkit-box-flex: 1;
//         -webkit-flex: 1;
//         -moz-box-flex: 1;
//         -moz-flex: 1;
//         -ms-flex: 1;
//         flex: 1;
//         display: block;
//         padding: 5px;
//         width: 100%;
//     }
}

